/* .question{
    background-color: #E4D8DC;
    text-align: left;
    width: 250px;
    border: 5px solid #E4D8DC;
    padding: 80px 0px;
    margin: 30px auto;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 900;
    font-family: arial;
    position: relative;
    color: black;
}

.answer{
    background-color: #FFE3E3;
    text-align: right;
} */

.boxLeft {
    width: 300px;
    margin: 50px auto;
    background: #2F8F9D;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: arial;
    position: relative; 
    left: 400px;
  }

  .boxRight {
    width: 300px;
    margin: 50px auto;
    background: #3BACB6;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: black;
    font-family: arial;
    position: sticky;
    right: 0px;
    position: relative;
    right: 400px;
  }

  .answer:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid #3BACB6;
    border-right: 10px solid transparent;
    border-top: 10px solid #3BACB6;
    border-bottom: 10px solid transparent;
    right: -20px;
    top: 6px;
  }

  .question:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #2F8F9D;
    border-top: 10px solid #2F8F9D;
    border-bottom: 10px solid transparent;
    left: -20px;
    top: 6px;
  }

.chat{
  background-color: #FFF2F2;
  border-color: black;
}

input{
  width: 100%;
  /* padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #E4D8DC;
  border-radius: 4px; */
}